.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: black;
}
.input {
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  background: none;
  color: white;
  padding: 0 2em;
  outline: none;
}
.enter {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  transition: 0.5s;
  margin-left: 10px;
}
.enter:hover {
  transition: 0.5s;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}
.item {
  position: absolute;
  cursor: move;
  width: 215px;
  color: black;
  padding: 1em;
  border-radius: 5px;
}
.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
}
.delete:hover {
  cursor: pointer;
}
